                <div class="row">
                  <div class="col-12" >
                        <div class="card">
                            <div class="card-body">
                                  <h4 class="card-title">Striped Progress bar</h4>
                                    <div class="progress m-t-20">
                                      <div  class="progress-bar bg-info progress-bar-striped" aria-valuenow="85"
                                            aria-valuemin="0" aria-valuemax="100" style=" height:10px;"
                                            [style.width]="getprogressBar1" role="progressbar">
                                        <span class="sr-only">85% Complete (success)</span>
                                      </div>
                                    </div>

                                    <div class="progress m-t-20">
                                      <div  class="progress-bar bg-info progress-bar-striped" aria-valuenow="85"
                                            aria-valuemin="0" aria-valuemax="100" style=" height:10px;"
                                            [style.width]="getprogressBar2" role="progressbar">
                                        <span class="sr-only">85% Complete (success)</span>
                                      </div>
                                    </div>

                            </div>
                        </div>
                  </div>

                </div>


                <div class="row">
                  <div class="col-6">
                        <div class="card">
                            <div class="card-body">

                              <app-increment (valorSalida)=" progress1 =  $event" [valor]="progress1" ></app-increment>

                            </div>
                        </div>
                  </div>




                  <div class="col-6">
                        <div class="card">
                            <div class="card-body">

                              <app-increment (valorSalida)=" progress2 =  $event" [valor]="progress2" [btnClass]="'btn-success'"></app-increment>

                            </div>
                        </div>
                  </div>



                </div>
