<div class="row">
  <div class="col-6">
      <app-dona  [doughnutChartLabels]="doughnutChartLabels1" [doughnutChartData]="doughnutChartData1" [title]="'Ventas'"></app-dona>
  </div>

  <div class="col-6">
      <app-dona [doughnutChartLabels]="doughnutChartLabels2" [doughnutChartData]="doughnutChartData2" [title]="'Creditos'"></app-dona>
  </div>

    <div class="col-6">
      <app-dona [doughnutChartLabels]="doughnutChartLabels3" [doughnutChartData]="doughnutChartData3" [title]="'Compras'"></app-dona>
  </div>

    <div class="col-6">
      <app-dona [doughnutChartLabels]="doughnutChartLabels4" [doughnutChartData]="doughnutChartData4" [title]="'Ganancia'"></app-dona>
  </div>
</div>
